{% extends "main.html" %}

{% block title %}Aeroporto - Monitoramento de Voos{% endblock %}

{% block content %}
<div class="p-3">

  <p>Cadastro de voo</p>
  <p>voo a ser cadastrado:</p>

  <form action="/crud/create/" method="POST">{% csrf_token %}
    <table>
      {{novo_voo.as_table}}
    </table>

    <button class="btn btn-success" name="tipo" value="cadastrar">Confirmar cadastro</button>
  </form>

  <a href="/crud/"><button class="btn btn-danger mt-2">Cancelar</button></a>

</div>
{% endblock content %}