
<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>
    <p>Tela de CRUD de voos</p>
    <p>filtrar por:</p>

    <form>
      <div>
        <label>Nome da companhia aérea:</label>
        <input>
      </div>
      <div>
        <label>Código do voo:</label>
        <input>
      </div>
      <div>
        <label>Tempo estimado de voo:</label>
        <input>
      </div>
      <div>
        <label>Nome da rota (Aeroporto de origem ou destino):</label>
        <input>
      </div>
      <button>filtrar</button>
    </form>

    <button>Criar um novo voo</button>

  </body>
</html>


