
<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>

    <!doctype html>
    <html lang="en">
      <head>
      </head>
    
      <body>
        <p>Tela de geração de  relatório de voos atrasados</p>
        <p>filtrar por:</p>
    
        <form action="." method="POST" target="_blank">{% csrf_token %} 
          
          <table>
            {{formulario.as_table}}
          </table>

          <br>
          <button name="tipo" value="filtrar">Gerar relatório</button>
    
        </form>

        <a href="/geracaoderelatorios/"><button>Voltar</button></a>
    
      </body>
    </html>
    
    
    

  </body>
</html>


