
<!doctype html>
<html lang="en">
  <head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
  </head>

  <body>
    <p>Tela de monitoramento de voos</p>

    <table>
        <tr>
          <th>id do voo</th>
          <th>companhia aérea</th>
          <th>origem</th>
          <th>destino</th>
          <th>horário de partida previsto</th>
          <th>horário de chegada previsto</th>
          <th>horário de partida</th>
          <th>horário de chegada</th>
        </tr>

        <tr>
          <td>2</td>
          <td>TAM</td>
          <td>Este aeroporto</td>
          <td>GRU</td>
          <td>22:30</td>
          <td>23:37</td>
          <td>22:32</td>
          <td>-</td>
        </tr>
    </table>

    <p>Estado atual: taxiando</p>
    <p>Selecione o próximo estado:</p>
    <button>Pronto</button>

  </body>
</html>


