
<!doctype html>
<html lang="en">
  <head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
  </head>

  <body>
    <p>Tela de monitoramento de voos</p>
    <a href="../telainicial/"><button>Voltar</button></a>

    <table>
        <tr>
          <th>id do voo</th>
          <th>companhia aérea</th>
          <th>origem</th>
          <th>destino</th>
          <th>status</th>
          <th>horário de partida previsto</th>
          <th>horário de chegada previsto</th>
          <th>horário de partida</th>
          <th>horário de chegada</th>
        </tr>
        {% for voo in voo_list %}
          <tr>
            <td>{{voo.voo_id}}</td>
            <td>{{voo.voo.companhia_aerea}}</td>
            {% if voo.voo.rota_voo.chegada %}
            <td>{{voo.voo.rota_voo.outro_aeroporto}}</td>
            <td>Este aeroporto</td>
            {% else %}
            <td>Este aeroporto</td>
            <td>{{voo.voo.rota_voo.outro_aeroporto}}</td>
            {% endif %}
            {% if voo.status_voo %}
            <td>{{voo.status_voo.status_nome}}<a href="/monitoramentodevooseditar/{{voo.voo_id}}/"><button>editar</button></a></td>
            {% else %}
            <td>-<a href="/monitoramentodevooseditar/{{voo.voo_id}}/"><button>editar</button></a></td>
            {% endif %}
            <td>{{voo.voo.horario_partida_previsto|date:"H:i"}}</td>
            <td>{{voo.voo.horario_chegada_previsto|date:"H:i"}}</td>
            {% if voo.horario_partida_real %}
            <td>{{voo.horario_partida_real|date:"H:i"}}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if voo.horario_chegada_real %}
            <td>{{voo.horario_chegada_real|date:"H:i"}}</td>
            {% else %}
            <td>-</td>
            {% endif %}
          </tr>
        {% endfor %}

      </table>

  </body>
</html>


