
<!doctype html>
<html lang="en">
  <head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
  </head>

  <body>
    <p>Relatório de voos realizados</p>

    <table>
        <tr>
          <th>id do voo</th>
          <th>companhia aérea</th>
          <th>rota</th>
          <th>horário de partida previsto</th>
          <th>horário de partida real</th>
          <th>horário de chegada previsto</th>
          <th>horário de chegada real</th>
        </tr>
        {% for progressovoo in progressovoo_list %}
          <tr>
            <td>{{progressovoo.voo_id}}</td>
            <td>{{progressovoo.voo.companhia_aerea}}</td>
            <td>{{progressovoo.voo.rota_voo}}</td>
            <td>{{progressovoo.voo.horario_partida_previsto}}</td>
            <td>{{progressovoo.horario_partida_real}}</td>
            <td>{{progressovoo.voo.horario_chegada_previsto}}</td>
            <td>{{progressovoo.horario_chegada_real}}</td>
          </tr>
        {% endfor %}

      </table>

  </body>
</html>


