{% extends "main.html" %}

{% block content %}
  <div class="p-3">
    <p>Tela inicial</p>
    <p>Usuário: {{ username }}</p>
    {% if username == "operadordevoos" %}
    <a href="/crud/"><button class="btn btn-success">CRUD</button></a>
    {% endif %}
    {% if username == "usuariostatus" %}
    <a href="/monitoramentodevoos/"><button class="btn btn-success">Monitoramento de Voos</button></a>
    {% endif %}
    {% if username == "gerentedeoperacoes" %}
    <i class="fa-regular fa-file-lines"></i>
    <a href="/geracaoderelatorios/"><button class="btn btn-success">Geração de Relatórios</button></a>
    {% endif %}
    <a href="../login/"><button class="btn btn-danger">Logout</button></a>
    
  </div>
{% endblock content %}


