
<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>
    <p>Tela inicial</p>
    <p>Usuário: {{ username }}</p>

    {% if username == "operadordevoos" %}
    <a href="/crud/">CRUD</a>
    {% endif %}

    {% if username == "usuariostatus" %}
    <a href="/monitoramentodevoos/">Monitoramento de Voos</a>
    {% endif %}

    {% if username == "gerentedeoperacoes" %}
    <a href="/geracaoderelatorios/">Geração de Relatórios</a>
    {% endif %}

    <a href="../login/"><button>Logout</button></a>

  </body>
</html>


